<div ng-controller = "one_way_boxplotController as ctrl">

<!--<h1>One-Way Boxplot</h1>
<p></p>


<div class='col'>
  <div class="col-md-12">
    <div id="illustration">display an illustration figure here.</div>
  </div>
</div>


<div class="warning">
  <p><strong>Note:</strong> Is there any warning to the user?</p>
</div>
-->
<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">One-Way Boxplot</span>
            <span class="md-subhead">
        <div layout='row'>
          <md-button class="md-icon-button" aria-label="ToggleLeft" ng-click="mainctrl.downloadExampleDataset('one_way_boxplot')">
          <md-tooltip md-direction="top">Example Dataset</md-tooltip>
          <i class="material-icons">explicit</i>
          </md-button>
          <md-button class="md-icon-button" aria-label="Tutorial">
            <md-tooltip md-direction="top">Tutorial</md-tooltip>
            <i class="material-icons">help_outline</i>
          </md-button>
          <md-button class="md-icon-button" aria-label="VidioTutorial" ng-click="main.show_tutorial('one_way_boxplot')">
            <md-tooltip md-direction="top">Video Tutorial</md-tooltip>
            <i class="material-icons">play_circle_filled</i>
          </md-button>
        </div>
      </span>
    </md-card-title-text>
  </md-card-title>

  <md-card-content>
    <div layout="row">
      <div flex='32' class="md-block">
        <md-button  class="md-raised md-hue-1" ng-click="ctrl.load_data_from_input_show = false; ctrl.load_data_from_database('one_way_boxplot');">{{ctrl.select_data_button_text}}</md-button>
      </div><div flex="2"></div>
      <div flex='32' class="md-block">
        <div layout="column" layout-align="center center">
          <button id='uploadFiles' type="file" ngf-select="ctrl.load_data_from_input_show = false; ctrl.uploadFiles($file, $invalidFiles);" accept=".xlsx, .csv" ngf-max-size="5MB" class="md-button md-raised md-hue-1" ng-disabled="ctrl.upload_data_button_text == 'uploading'">{{ctrl.upload_data_button_text}}</button>
        </div>
      </div><div flex='2'></div>
      <div flex='32' class="md-block">
        <md-button class="md-raised md-hue-1" ng-click="ctrl.load_data_from_input_show = true">{{ctrl.input_data_button_text}}</md-button>
      </div>
    </div>
    <div ng-show='ctrl.load_data_from_input_show'>
      <div layout='row'>
        <div flex='80'>
          <md-input-container class="md-block">
            <label>Copy & Paste here</label>
            <textarea ng-model="ctrl.dataset_input" rows="5" md-select-on-focus=""  md-detect-hidden='' style='max-height:100px;overflow-y: scroll;white-space:pre;' id='dataset_input'></textarea>
          </md-input-container>
        </div>
        <div flex='20'>
          <button class="md-button md-raised md-hue-1" ng-click='ctrl.upload_data_from_input()' ng-disabled = "ctrl.upload_data_from_input_text === 'uploading' ">{{ctrl.upload_data_from_input_text}}</button>
        </div>
      </div>
    </div>
    <div>
      <table id='preview_datatable' class="display"></table>
    </div>
    <md-divider></md-divider>
    <!--!!!! add parameters here-->
    <div layout='row'>
    </div>


    <!--<md-button class="md-raised md-primary" ng-click="ctrl.submit()" ng-disabled='ctrl.submit_button_text == "Calculating"'>{{ctrl.submit_button_text}}</md-button>-->

  </md-card-content>
</md-card>


<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Analysis Results.</span>
      <span class="md-subhead"><a href=""><i class="fa fa-exclamation-circle"></i></a> Click for more information.</span>
    </md-card-title-text>
  </md-card-title>

  <md-card-content>
    <h3>Result:</h3>
    <div ng-bind-html="ctrl.report"></div>
    <p>The result is diaplayed in the following table. You could either download the table by clicking "DOWNLOAD RESULT" button or save the result to the database for later use by clicking "SAVE RESULT TO DATABASE" button.</p>

    <!--<div>
      <table id='result_datatable' class="display"></table>
    </div>-->
    <!--!!!! how to display the result-->
    <div layout='row'>
      <div flex = "30">
        <div layout='column'>
         <md-input-container flex style='margin-bottom:20;'>
            <label>Column</label>
            <md-select name="groups" ng-model="ctrl.parameters.column" required="">
              <md-option ng-repeat="column_option in ctrl.column_options" value="{{column_option}}">{{column_option}}</md-option>
            </md-select>
          </md-input-container>
          <p style='margin:6;font-size:1;color:white'>.</p>
          <md-input-container flex style='margin-bottom:20;'>
            <label>Levels Sequence</label>
            <input ng-model="ctrl.parameters.levels" type="text">
          </md-input-container>
          <p style='margin:6;font-size:1'><em>split by '||'</em></p>
          <md-input-container flex style='margin-bottom:20;'>
            <label>Selected Compound</label>
            <md-select ng-model="ctrl.parameters.selected_compound" placeholder="Select a Compound">
              <md-option ng-value="compound_option" ng-repeat="compound_option in ctrl.compound_options">{{compound_option}}</md-option>
            </md-select>
          </md-input-container>
          <p style='margin:6;font-size:1;color:white'>.</p>
          <md-input-container flex style='margin-bottom:20;'>
            <label>Selected Style</label>
            <md-select ng-model="ctrl.parameters.style" placeholder="Select a Style">
              <md-option ng-value="style_option" ng-repeat="style_option in ctrl.style_options">{{style_option}}</md-option>
            </md-select>
          </md-input-container>
          <p style='margin:6;font-size:1;color:white'>.</p>


          <md-input-container flex style='margin-bottom:20;'>
            <label>Graph Format</label>
            <md-select ng-model="ctrl.parameters.format" placeholder="Select a Format">
              <md-option ng-value="format_option" ng-repeat="format_option in ctrl.format_options">{{format_option}}</md-option>
            </md-select>
          </md-input-container>
          <p style='margin:6;font-size:1;color:white'>.</p>

           <md-button class="md-raised md-primary" ng-click="ctrl.generate_all_boxplots()" ng-disabled='ctrl.generate_all_boxplots_text === "Calculating"'>{{ctrl.generate_all_boxplots_text}}</md-button>
        <p ng-hide='ctrl.percentage === "100%"'>{{ctrl.percentage}}</p>

        </div>
      </div>
      <div flex='70'>
        <div id='plot' align="center"></div>

        <!--<md-button class="md-raised md-primary" ng-click="ctrl.edit_boxplot_by_this_data()">Edit style using this data</md-button>-->
      </div>
    </div>




<md-button class="md-raised md-warn" ng-click="ctrl.download()" ng-disabled='ctrl.generate_all_boxplots_text === "Calculating"'>{{ctrl.download_button_text}}</md-button>
<md-button class="md-raised" md-colors="{background:'teal'}" ng-click="ctrl.save_result()" ng-disabled='ctrl.generate_all_boxplots_text === "Calculating"'>{{ctrl.save_button_text}}</md-button>
<p style="color:white">.</p>
  </md-card-content>
</md-card>


</div>
























